<!DOCTYPE html>
<html>
<head>
    <title>Kodilla</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
<h1>
    <i>
        Kodilla Course
    </i>
</h1>
<h2>
    <b>
        Kodilla Course
    </b>
</h2>
<h3>
    <ins>
        Kodilla Course
    </ins>
</h3>
<h4>
    <del>
        Kodilla Course
    </del>
</h4>
<h5>
    <mark>
        Kodilla Course
    </mark>
</h5>
<h6> Kodilla Course
    <sub>
        Something new!
    </sub>
    <br>
    <br>
    Kodilla Course
    <sup>
        Something new!
    </sup>
</h6>

<div class="paragraph">
    Something new!
</div>

</body>
</html>
